<%= form_for @character, :html => { :multipart => true } do |f| %>

    <p><%= f.text_field :name, class: 'form-control', autofocus: true, placeholder: 'Name' %></P>
    <p><%= f.text_area :description, class: 'form-control', autofocus: true, placeholder: 'Description' %></p>
    <p><%= f.file_field :photo %></p>
    <p><%= f.submit "Update Character" %></p>

<% end %>