<% @characters.each do |character| %>

    <div class="col-sm-12 post">
	    <div class="img_post col-sm-4">
	    	<%= image_tag character.photo.url(:small), class: "img-responsive center-block" %>
	    </div>
	    <div class="description_post col-sm-8">
	    	<div class="title_post">
		        <h2 class="character_name"><%= character.name %></h2>
		        <%= link_to "Delete", character, method: :delete %>
		        <%= link_to "Edit", edit_character_path(character), class: "title_link" %>
	    	</div>
	        <p class="character_description">Description: <%=  character.description %></p>
	    </div>
	</div>
<% end %>